
<div>
  <div class="title">

  </div>
  <div class="detail-container">


    <div class="image">
      <img src="{{data.image}}" alt="">
    </div>
    <div class="detail-info">
      <section>
        <h3>{{data.name}}</h3>
        <span class="status">
          <span class="status_icon"></span>
          {{data.status}} -- {{data.species}}

        </span>
      </section>
      <section>
        <span>Last known location:</span>
        <a href="{{data.location.url}}" target="_blank"> {{data.location.name}}</a>
      </section>
      <section>
        <span>Gender:</span>
        <span>   {{data.gender}}</span>
      </section>


    </div>
  </div>
</div>
