
<mat-toolbar color="primary">
  <span>Aplazo</span>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-6, col-sm-12" >
        <div class="pages-container">
          <div>
            <button routerLink="characters" >Charater</button>
          </div>
          <div>
            <button [routerLink]="['locations']" >Locations</button>
          </div>
          <div>
            <button [routerLink]="['episodes']" >Episodes</button>
          </div>
          <div>
            <div>
              <form #beaconForm="ngForm" autocomplete="off">
                <input #searchBox
                       id="search-query"
                       name="search-query"
                       [(ngModel)]="inputValue">
                <button color="accent" mat-mini-fab (click)="action(searchBox.value)">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
                </button>
             </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
